.question{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 100px;
    margin-bottom: 100px;
}
.ques
{
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 40px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
}
.ques h4{
    color: #F29696;
}
.ques p
{
    color: rgba(29, 29, 29, 0.774);
}



@media only screen and (max-width: 576px) {
   .question
   {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    margin-bottom: 20px;
   }
   
  }